<body>
  <div class="page">
    <div class="header">
      <div class="container header-inner">
        <div class="header-left">
          <button class="back-btn" routerLink="/auth/login">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
            Back
          </button>
        </div>
        <div class="header-center">
          <img src="assets/image/icon.png" alt="MTA Architects Logo" class="logo delete-logo" />
        </div>
        <div class="header-right"></div>
      </div>
      <div class="container">
        <p class="title">How to delete your account</p>
      </div>
    </div>

    <div class="translations-content-container">
      <div class="container">
        <div class="tab-content translations-content-item en visible" id="en">
          <p>You can delete your account from within MTA Konnect.</p>
          <p>
            Deleting your account is irreversible. We can't reverse this even if
            you delete it by accident
          </p>

          <h3>To delete your account</h3>
          <ol>
            <li>
              <p>Open MTA Konnect.</p>
            </li>
            <li>
              <p>Tap more options > Menu > Profile > Delete my account.</p>
            </li>
            <li>
              <p>Tap Delete account.</p>
            </li>
          </ol>
          <h3>Deleting your account will:</h3>
          <ul>
            <li>
              <p>Delete your account from MTA Konnect and all your devices</p>
            </li>
            <li>
              <p>Erase your team, project and groups details</p>
            </li>
            <li>
              <p>Delete you from all of your MTA Konnect groups.</p>
            </li>
            <li>
              <p>You will be removed from all of your MTA Konnect groups.</p>
            </li>
          </ul>

          <div class="footer-spacer"></div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <p class="copyright">&copy; Copyright 2026 MTA Architects. All Rights Reserved.</p>
      </div>
    </footer>
  </div>
</body>
