$app-color: #3b5998;

.container {
    height: 80%;
}

.main {
    // background: #ffff;
    padding-top: 2%;
    padding: 1rem;
    height: 100%;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif !important;
}

.second-row {
    position: relative;
    left: 14px;
}

.checkboxselect {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    right: 60px;
}

.select>small {
    font-size: 14px;
    font-weight: 400;
    margin-left: 14px;
}

.font-style {
    max-width: 5.03%;
    height: 25%;
    font-size: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    // box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    // inset: 10px;
}

.export-style {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 20%;

    >button {
        width: 50%;
        margin-top: 10px;
    }
}

.heading {
    margin-bottom: 2%;
    margin-left: 10px;
    font-weight: bold;
}

.mat-tab-body {
    margin-bottom: -8px;
    /* Adjust the value based on your preference */
}


// :host ::ng-deep {
//     .multiselect-dropdown {
//       background: white;
//       border-radius: 20px;
//     }
//   }

// :host ::ng-deep .multiselect-dropdown .dropdown-btn {
//     display: inline-block;
//     border: 1px solid #adadad;
//     width: 100%;
//     padding: 6px 12px;
//     margin-bottom: 0;
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 1.1;
//     text-align: left;
//     vertical-align: middle;
//     cursor: pointer;
//     background-image: none;
//     border-radius: 4px;
// }
:host ::ng-deep {

    .dropdown-list {
        overflow: hidden;
    }
    .dropdown-btn {
        width: 100% !important;
    }

}

.multiselect-dropdown{
    width: 94%;
}


:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
    right: -10px !important;
}

::ng-deep{
    .multiselect-inp{
width: 10rem !important;
    }

}
.multiselect-dropdown{
    width: 16rem !important;
}


@media (min-width:1024px) and(max-width:1440px) {
    .export-style {


        >button {
            // width: 50%;
            // margin-top: 10px;
        }
    }

}

@media only screen and (min-width:426px) and (max-width:530px) {
    .checkboxselect {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        right: 0px !important;
    }
}

@media only screen and (min-width:376px) and (max-width:425px) {
    .checkboxselect {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        right: 0px !important;
    }
}

@media only screen and (min-width:321px) and (max-width:375px) {
    .checkboxselect {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        right: 0px !important;
    }
}

@media only screen and (max-width:320px) {

    .checkboxselect {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        right: 0px;
    }
}
