<div class="page">
  <div class="header">
    <div class="container header-inner">
      <div class="header-left">
        <button class="back-btn" (click)="goBack()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
          Back
        </button>
      </div>
      <div class="header-center">
        <img src="assets/image/icon.png" alt="MTA Architects Logo" class="logo delete-logo" />
      </div>
      <div class="header-right"></div>
    </div>
    <div class="container">
      <h1 class="title">Privacy Policy</h1>
    </div>
  </div>

  <div class="content-container">
    <div class="container">
      <p>Please read the following to learn about the practice of collection, use, disclosure and dissemination of information by Instakart Services Private Limited having its registered office at 25/44, Vembuli Subedar Street, Alandur, Guindy 600016, India ("We" or "us") while the user/you ("you"/"your") use 'MTA CONNECT' application ("App") through your mobile device, or when you otherwise interact with us on the App.</p>

      <p>Please note that this privacy policy is subject to change at any time. Any change made to the policy will be notified by change in the date mentioned in the beginning of this policy. Please review this policy whenever you use our App to stay informed and updated about our practices in relation to information.</p>

      <h3>Collection of Personally Identifiable Information</h3>
      <p>We collect the information you provide to us while interacting with us at various instances. This information is generally in the nature of, inter alia, your name, age, gender, phone number, email address, address proof, Aadhaar number, Permanent Account Number, driver license, bank details, and any other information you choose to provide.</p>

      <p>When you access or use our App, we collect the following:</p>
      <ul>
        <li><p>Information about your use of our App, including but not limited to your IP address, your access times, the area/region you are accessing our App from (demographic data).</p></li>
        <li><p>Information about the device you use to access our App including but not limited to your mobile device's unique device ID, your mobile operating system.</p></li>
      </ul>

      <p>We use various technologies to collect information and this may include sending Cookies to your mobile device. "Cookies" are small data files stored in the memory of your device that help us in our internal research and improve our App and your experience.</p>
      <p>We may also obtain information from other sources. We may collect information from the app stores when you download or update our App.</p>

      <h3>Use of Information</h3>
      <p>We may use the information collected for the following purposes:</p>
      <ul>
        <li><p>Provide, maintain and improve our App and develop new features.</p></li>
        <li><p>Send technical notices, updates, alerts, support and other communication to you.</p></li>
        <li><p>Monitor and analyze trends, usage and activities on our App.</p></li>
        <li><p>For handling orders assignments and other intended activities on the App.</p></li>
      </ul>

      <h3>Disclosure and Sharing of Information</h3>
      <p>We may share the information we collect, as per our discretion, for the following purposes and in the following manner:</p>
      <ul>
        <li><p>With third parties like vendors, consultants and other service providers who work for us strictly on a 'need to know' basis.</p></li>
        <li><p>With certain third parties for tracking usage and analysing data in order to enhance the performance of the App.</p></li>
        <li><p>With third parties like customers, delivery agents for fulfilment of orders, customer service and user tracking.</p></li>
        <li><p>With affiliates/business affiliates for co-branded, marketing and other services.</p></li>
        <li><p>With our parent company, subsidiaries and affiliates.</p></li>
        <li><p>In response to a request for information, if we reasonably believe that disclosure is in accordance with applicable law.</p></li>
        <li><p>In good faith belief that such disclosure is reasonably necessary to respond to summons, court orders, or other legal processes.</p></li>
      </ul>

      <h3>Links to Other Sites</h3>
      <p>There may be links to third party sites while you are logged into our App. These sites may collect personally identifiable information about you. We are not responsible for the privacy practices or the content of such linked sites.</p>

      <h3>Updating Your Personal Information</h3>
      <p>You may modify or remove any of your personal information at any time by logging into your account and accessing <a href="mailto:info@multitechcorp.in">info@multitechcorp.in</a>.</p>

      <h3>Security</h3>
      <p>We have stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. We endeavor to provide reasonable security for information we process and maintain; however, we do not guarantee that such security system can prevent all potential security breaches.</p>

      <h3>Grievance Officer</h3>
      <ul>
        <li><p>D. Umashankar (<a href="mailto:ceo@multitechcorp.in">ceo@multitechcorp.in</a>) – For Tirupur</p></li>
        <li><p>B. Ramesh (<a href="mailto:b_ramesharc@yahoo.com">b_ramesharc@yahoo.com</a>) – For Chennai &amp; Bangalore</p></li>
      </ul>

      <h3>Contact Us</h3>
      <p>In case you have any queries about this Privacy Policy, please reach out to us at <a href="mailto:info@multitechcorp.in">info@multitechcorp.in</a> &amp; <a href="mailto:info@mtaarcdesigns.com">info@mtaarcdesigns.com</a>.</p>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <p class="copyright">&copy; Copyright 2026 MTA Architects. All Rights Reserved.</p>
    </div>
  </footer>
</div>
